<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Travel Planner</title>
        <link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet" />
        <link rel="shortcut icon" type="image/x-icon" href="media/favicon.png"/>
    </head>
    <body>
        <div class="wrapper">
            <div class="headline">
                <h1>Travel Planner</h1>
            </div>
            <div class="inputs">
                <div id="errorMessages" class="errorMessages"></div>
                <label for="destination">My trip to:</label>
                <input class="myInput" type="text" id="destination" placeholder="enter destination name here" />

                <label for="departureDate">Departing:</label>
                <input class="myInput" type="date" id="departureDate" placeholder="MM/DD/YYYY"/>
                
                <button class="button" id="saveTrip" type="submit">Save Trip</button>
                <button class="button" id="removeTrip" type="submit">Remove Trip</button>
            </div>
            <aside class="aside tripDetails">
                <div id="tripDetailsWrapper">
                    <div id="tripDetailHeader"><h3>Your Trip:</h3></div>
                    <div id="daysAway"></div>
                    <div id="weather">
                        <div id="weatherForDepartureDate"></div>
                        <div id="hiLoTemp"></div>
                        <div id="weatherIconDiv"><img id="weatherIcon" src="#" alt="Weather icon"></div>
                        <div id="weatherDescrip"></div>
                    </div>
                </div>
            </aside>
            <aside class="aside picture">
                <figure>
                    <img class="scaled" id="travelPicture" src="#" alt="Travel Image">
                    <figcaption id="travelCaption">Take a trip today!</figcaption>
                </figure>
            </aside>
            <div class="footer">Travel Planner - CAPSTONE Udacity</div>
        </div>
        
        <script src="app.js" type="text/javascript"></script>
        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
           </script>
    </body>
</html>


